<div class="row"> 
  <div class="col-12">
    <img src="" alt="">
    
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <h3>Recipe Name</h3>
  </div>
  <div class="col-lg-6 d-flex">
      <div class="btn-group ml-auto">
          <button type="button" class="btn kbm-bg-red dropdown-toggle">Options</button>
          <ul class="dropdown-menu">
            <li><a href="#">To Shopping List</a></li>
            <li><a href="#">Edit recipe</a></li>
            <li><a href="#">Delete Recipe</a></li>
          </ul>
        </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-12">
    Ingredients
  </div>
</div>