
.shopping-list {
    padding: 0;
    list-style: none;
    .shopping-item{
        background: rgba(49,183,186,0.5);
        cursor: pointer;
        border-radius: 30px;
        padding: 10px 15px;;
        width: 100%;
        margin-bottom: 5px;;
        transition: background 250ms ease-in-out;
        text-align: center;
        span {
           font-size: 30px;
        }
        &:hover {
            background: rgb(49,183,186);;
        }
       
    }
}
