@import "../../../styles.scss";

.btn{
    margin-bottom: 25px;;

}
.recipe-card{
    background: rgba(49,183,186,0.5);
    border-radius: 30px;
    padding: 10px 15px;;
    display: flex;
    margin-bottom: 5px;;
    transition: background 250ms ease-in-out;
    &:hover {
        background: rgb(49,183,186);;
    }
    .recipe-text-content {
        width: 70%;
        .recipe-heading {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 5px;;
        }
    }
    .recipe-thumbnail {
        margin-left: auto;;
        img {
            max-width: none;
            height: 90px;
            width: auto;
            object-fit: cover;
            border-radius: 15px;
        }
    }
}